@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&family=Poppins:wght@400;500;600;800&display=swap');
*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body{
  font-family: 'Poppins', sans-serif;
}
.slick-slide > div {
  margin: 0 50px;
}
.slick-list {
  margin: 0 -10px;
}



 .test-css {
  bottom: -25px;
  width: 100%;
  list-style: none;
  text-align: end;
  position: absolute;
  right: 15px;
  padding: 0;
 text-align: center;
}

.test-css li {
  position: relative;
  display: inline-block;
  width: 20px;
  height: 20px;
  /*margin: 1px;*/
  padding: 0;
  cursor: pointer;
}

.test-css li button {
  font-size: 0;
  line-height: 0;
  display: block;
  width: 20px;
  height: 20px;
  padding: 5px;
  cursor: pointer;
  color: transparent;
  border: 0;
  outline: 0;
  background: 0 0;
}

.test-css li button:before {
  font-size: 2.7rem;
  line-height: 20px;
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  content: '•';
  text-align: center;
  opacity: .75;
  color: #6D6968;
}

.test-css li.slick-active button:before {
  opacity: .75;
  color: #ffffff;
}


.icons{
  position: relative;
  text-align: center;
  color: #fff;
  cursor: pointer;
  border-radius: 50%;
  background-color: #423e3e;
  width: 55px;
  height: 55px;
  overflow: hidden;
  transition: transform 0.5s;

}

.icons .item{
  font-size: 20px;
  text-align: center;
  position: relative;
  margin-top: 15px;
  z-index: 10;
  transition: color 0.5s ;
}

.icons::after{
  content: '';
  width: 100%;
  height: 100%;
  top: -90px;
  left: 0;
  background: linear-gradient(-50deg, white, white );
  position: absolute;
  transition: 0.05s;

}

.icons:hover:after{
  top: 0;
}

.icons:hover .item{
  color: black;
}
.icons:hover{
  transform: translateY(-10px);
}

.mouse{
  width: 55px;
  height: 45px;
  cursor: pointer;

}

.color{
  font-size:17px;
  font-style:normal;
  font-weight:300;
  color:#5e5e5e;
  margin-left: 30px;

}

.cv{
  text-decoration: none;
  color: white;
}


.fonticon{
  width: 40px;
  height: 40px;
  /* background-color: #5e5e5e; */
  color: white;
  margin-top: 25px;
}

.ee{
  color: blue;
}